.elementor-kit-34{--e-global-color-primary:#FA7323;--e-global-color-secondary:#FA7323;--e-global-color-text:#2F053D;--e-global-color-accent:#640F82;--e-global-color-a10d1d8:#640F82;--e-global-color-6bccdb0:#640F82;--e-global-typography-primary-font-family:"DelaGothicOne";--e-global-typography-primary-font-size:28px;--e-global-typography-primary-font-weight:500;--e-global-typography-secondary-font-family:"San Francisco";--e-global-typography-secondary-font-size:42px;--e-global-typography-secondary-font-weight:600;--e-global-typography-text-font-family:"Mulish";--e-global-typography-text-font-size:20px;--e-global-typography-text-font-weight:400;--e-global-typography-text-line-height:1.5em;--e-global-typography-accent-font-family:"Mulish";--e-global-typography-accent-font-size:18px;--e-global-typography-accent-font-weight:600;--e-global-typography-accent-text-transform:uppercase;--e-global-typography-b496017-font-family:"DelaGothicOne";--e-global-typography-b496017-font-size:45px;--e-global-typography-b496017-letter-spacing:-1px;--e-global-typography-5b326c3-font-family:"DelaGothicOne";--e-global-typography-5b326c3-font-size:40px;--e-global-typography-5b326c3-line-height:1.2em;--e-global-typography-5b326c3-letter-spacing:-0.8px;--e-global-typography-1f2e914-font-family:"Mulish";--e-global-typography-1f2e914-font-size:28px;--e-global-typography-1f2e914-font-weight:600;--e-global-typography-1f2e914-line-height:1.2em;--e-global-typography-3b872cc-font-family:"Mulish";--e-global-typography-3b872cc-font-size:22px;--e-global-typography-3b872cc-font-weight:600;--e-global-typography-3b872cc-line-height:1.2em;--e-global-typography-3b872cc-letter-spacing:-0.5px;--e-global-typography-5e24e2e-font-family:"DelaGothicOne";--e-global-typography-5e24e2e-font-size:23px;--e-global-typography-5e24e2e-font-weight:400;--e-global-typography-5e24e2e-text-transform:none;--e-global-typography-5e24e2e-font-style:normal;--e-global-typography-5e24e2e-line-height:1.2em;background-color:#FCF3EE;}.elementor-kit-34 e-page-transition{background-color:#FFBC7D;}.elementor-kit-34 a{color:#640F82;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}.site-header .site-branding{flex-direction:column;align-items:stretch;}.site-header{padding-inline-end:0px;padding-inline-start:0px;}.site-footer .site-branding{flex-direction:column;align-items:stretch;}@media(max-width:1366px){.elementor-kit-34{--e-global-typography-text-font-size:14.5px;--e-global-typography-text-line-height:1.5em;--e-global-typography-b496017-font-size:40px;--e-global-typography-5b326c3-font-size:35px;}}@media(max-width:1024px){.elementor-kit-34{--e-global-typography-primary-font-size:40px;--e-global-typography-primary-line-height:1.2em;--e-global-typography-secondary-font-size:32px;--e-global-typography-text-font-size:16px;--e-global-typography-accent-font-size:16px;--e-global-typography-b496017-font-size:35px;--e-global-typography-b496017-line-height:1.2em;--e-global-typography-5b326c3-font-size:32px;--e-global-typography-5b326c3-line-height:1.2em;--e-global-typography-1f2e914-font-size:24px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-34{--e-global-typography-primary-font-size:32px;--e-global-typography-primary-line-height:1.2em;--e-global-typography-secondary-font-size:28px;--e-global-typography-secondary-line-height:1.2em;--e-global-typography-text-font-size:16px;--e-global-typography-text-line-height:1.4em;--e-global-typography-accent-line-height:1.3em;--e-global-typography-b496017-font-size:28px;--e-global-typography-b496017-line-height:1.2em;--e-global-typography-5b326c3-font-size:28px;--e-global-typography-5b326c3-line-height:1.2em;--e-global-typography-1f2e914-font-size:21px;--e-global-typography-1f2e914-line-height:1.2em;--e-global-typography-3b872cc-font-size:19px;--e-global-typography-3b872cc-line-height:1.3em;--e-global-typography-5e24e2e-font-size:18px;--e-global-typography-5e24e2e-line-height:1.2em;--e-global-typography-5e24e2e-letter-spacing:-0.6px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS *//* Corrigir Bordas Brancas */
html, body{
    width: 100%;
    overflow-x: hidden;
}
/* Remover barra de SCROLL */
body::-webkit-scrollbar{
    display: none;
}
/*Zerar Espaçamento de Texto */
p{
margin-bottom: 0px;
}
/*Corrigir palavras viúvas */

.elementor-kit-34{
    text-wrap: balance;
}

.elementor-button{
    padding: 1.2em !important; /* Espaçamento interno */
    box-shadow: 0px 5px 0px 0px #39084A, /* Sombra da borda superior (altere a cor aqui) */
                0px 0px 20px -10px rgba(0, 0, 0, 0.7), /* Sombra externa */
                inset 0px 0px 20px 2px #57146E!important; /* Sombra interna (altere a cor aqui) */
    background: linear-gradient(to bottom, #640F82, #640F82)!important; /* Gradiente de fundo (altere as cores aqui) */
    border-radius: 7% 7% 7% 7% / 100% 100% 100% 100%!important; /* Arredondamento das bordas */
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'DelaGothicOne';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://amadomaker.com.br/wp-content/uploads/2025/06/DelaGothicOne-Regular.eot');
	src: url('https://amadomaker.com.br/wp-content/uploads/2025/06/DelaGothicOne-Regular.eot#iefix') format('embedded-opentype'),
		url('https://amadomaker.com.br/wp-content/uploads/2025/06/DelaGothicOne-Regular.woff2') format('woff2'),
		url('https://amadomaker.com.br/wp-content/uploads/2025/06/DelaGothicOne-Regular.woff') format('woff'),
		url('https://amadomaker.com.br/wp-content/uploads/2025/06/DelaGothicOne-Regular.ttf') format('truetype'),
		url('https://amadomaker.com.br/wp-content/uploads/2025/06/DelaGothicOne-Regular.svg#DelaGothicOne') format('svg');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('https://amadomaker.com.br/wp-content/uploads/2025/06/Mulish-Regular.eot');
	src: url('https://amadomaker.com.br/wp-content/uploads/2025/06/Mulish-Regular.eot#iefix') format('embedded-opentype'),
		url('https://amadomaker.com.br/wp-content/uploads/2025/06/Mulish-Regular.woff2') format('woff2'),
		url('https://amadomaker.com.br/wp-content/uploads/2025/06/Mulish-Regular.woff') format('woff'),
		url('https://amadomaker.com.br/wp-content/uploads/2025/06/Mulish-Regular.ttf') format('truetype'),
		url('https://amadomaker.com.br/wp-content/uploads/2025/06/Mulish-Regular.svg#Mulish') format('svg');
}
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('https://amadomaker.com.br/wp-content/uploads/2025/06/Mulish-Bold.eot');
	src: url('https://amadomaker.com.br/wp-content/uploads/2025/06/Mulish-Bold.eot#iefix') format('embedded-opentype'),
		url('https://amadomaker.com.br/wp-content/uploads/2025/06/Mulish-Bold.woff2') format('woff2'),
		url('https://amadomaker.com.br/wp-content/uploads/2025/06/Mulish-Bold.woff') format('woff'),
		url('https://amadomaker.com.br/wp-content/uploads/2025/06/Mulish-Bold.ttf') format('truetype'),
		url('https://amadomaker.com.br/wp-content/uploads/2025/06/Mulish-Bold.svg#Mulish') format('svg');
}
/* End Custom Fonts CSS */